{
    email admin@cppbear.site
    
    log {
        output file /var/log/caddy/access.log {
            roll_size 100mb
            roll_keep 5
            roll_keep_for 720h
        }
        format json  //
        level INFO
    }
}

ssapi.cppbear.site {
    reverse_proxy localhost:3000
    
    encode gzip
    
    header {
        Strict-Transport-Security max-age=31536000
        X-Content-Type-Options nosniff
        X-Frame-Options SAME-ORIGIN
        X-XSS-Protection "1; mode=block"
    }
    
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    }
    
    log {
        output file /var/log/caddy/ssapi.log
        format json //
    }
}

ssgpt.cppbear.site {
    reverse_proxy localhost:4100 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
    
    encode gzip
    
    header {
        Strict-Transport-Security max-age=31536000
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        X-XSS-Protection "1; mode=block"
    }
    
    log {
        output file /var/log/caddy/ssgpt.log
        format json //
    }
}

ssresearch.cppbear.site {
    reverse_proxy localhost:3333
    
    encode gzip
    
    header {
        Strict-Transport-Security max-age=31536000
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        X-XSS-Protection "1; mode=block"
    }
    
    log {
        output file /var/log/caddy/ssresearch.log
        format json //
    }
}
